<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Operación sobre Préstamo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <h1>Registro de Operación sobre Préstamo</h1>
    <form action="#" th:action="@{/operacionprestamo/{id}/{id2}/edit/save}" method="post">

        <label for="numeroprestamo">ID del Préstamo:</label>
        <input type="text" id="numeroprestamo" name="numeroprestamo" required>

        <label>Monto del Pago</label>
        <input type="text" id="monto" name="monto" required />

        <a id="deleteLink" href="#">
            <input type="submit" value="Realizar Pago">    
        </a>

    </form>

    <script>
        var numprestamoInput = document.getElementById('numeroprestamo');
        var montoInput = document.getElementById('monto');
        var deleteLink = document.getElementById('deleteLink');

        numprestamoInput.addEventListener('input', function()
        {
            var prestamoValue = numprestamoInput.value;
            var montoValue = montoInput.value;

            var deleteUrl = '/operacionprestamo/' + prestamoValue + montoValue +'/edit/save';
            deleteLink.setAttribute('href', deleteUrl);
        });

    </script>


</body>
</html>
