<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Préstamo a Cerrado</title>
</head>

<body>
    <h1>Actualizar Préstamo a Cerrado</h1>

    <form action="#" th:action="@{/prestamo//actualizar-cerrado}" method="post">

        <label for="id-prestamo">ID del Préstamo:</label>
        <input type="text" id="id-prestamo" name="id-prestamo" required>

        <input type="hidden" id="idPrestamo" name="idPrestamo" value="ID_DEL_PRESTAMO_A_CERRAR">        
        <input type="submit" value="Actualizar a Cerrado">

    </form>

</body>
</html>
